# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.data.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/


# drf-extensions fails on 3.1: https://github.com/chibisov/drf-extensions/issues/294
Django<3.1

defusedxml
django-filter
django-rest-framework
djangorestframework
djangorestframework-csv
djangorestframework-xml
drf-extensions
pytz
six
unicodecsv
